.App {
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction:row;
}

body {
    margin: 0;
    padding: 0;
}

.Sidebar {
    height: 100%;
    width: 220px;
    padding-top: 30vh;;
    border-right: lightgray 1px solid;
    position: fixed;
    /*z-index: 1;*/
}

.SidebarList {
    margin: 0;
    height: auto;
    width: 100%;
    padding: 0;
    /*background-color: antiquewhite;*/
}

.SidebarList .row {
    width: 100%;
    height: 70px;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}

.SidebarList .row:hover {
    cursor: pointer;
    background-color: aliceblue;
}



/*.SidebarList #active {*/
/*    background-color: aliceblue;*/
/*}*/
.row #icon {
    flex: 35%;
    display: grid;
    place-items: end;
}

.row #title {
    flex: 65%;
    padding-left: 15px;
}



.mainContents {
    height: 100vh;
    width: 100%;
    margin-left: 220px;

}


/*.DonutMain{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin-bottom: 5vh;*/
/*    text-align: center;*/
/*    background-color: aliceblue;*/
/*}*/


.donutGraph{
    width: 100%;
    width: 100%;
    /*margin-top: 10%;*/
    /*position: relative;*/
    /*margin: 0 auto;*/
    /*padding: 3px;*/
}


.rowItem {
    width: 100%;
    height: 60px;
    align-items: flex-start;
    list-style-type: none;
    display: flex;
    /* background-color: aqua; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}



.bottomButton{
    position: absolute;
    bottom: 40px;
    margin-left: 6%;
    margin-top: 15px;
}




@media only screen and (max-width: 800px) {
    .leftBlock {
        min-width: 300px;
    }
}



*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}