.App {
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction:row;
}

body {
    margin: 0;
    padding: 0;
}

.Sidebar {
    height: 100%;
    width: 240px;
    padding-top: 30vh;;
    border-right: lightgray 1px solid;
    display: flex;
}

.SidebarList {
    margin: 0;
    height: auto;
    width: 100%;
    padding: 0;
    /*background-color: antiquewhite;*/
}

.SidebarList .row {
    width: 100%;
    height: 70px;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}

.SidebarList .row:hover {
    cursor: pointer;
    background-color: aliceblue;
}

/*.SidebarList #active {*/
/*    background-color: aliceblue;*/
/*}*/
.row #icon {
    flex: 35%;
    display: grid;
    place-items: end;
}

.row #title {
    flex: 65%;
    padding-left: 15px;
}


.mainContents {
    width: 100%;
    background-color: bisque;
}